LSCSWSReplacement/docs/searchresults.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" version="1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="results" type="resultsType" />
  <xsd:complexType name="resultsType">
    <xsd:sequence>
      <xsd:element name="assets" type="assetsType" />
    </xsd:sequence>
    <xsd:attribute name="total" type="xsd:int" />
    <xsd:attribute name="included" type="xsd:int" />
    <xsd:attribute name="start" type="xsd:int" />
    <xsd:attribute name="status" type="xsd:int" />
  </xsd:complexType>
  <xsd:complexType name="assetsType">
    <xsd:sequence>
      <xsd:element name="document" type="documentType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="documentType">
    <xsd:attribute name="id" type="xsd:string" />
    <xsd:attribute name="uri" type="xsd:string" />
    <xsd:attribute name="context" type="xsd:string" />
    <xsd:attribute name="path" type="xsd:string" />
  </xsd:complexType>
</xsd:schema>
